@import "../styles/_mixins";
@import "../styles/_variables";

div.leftNav {
  width: 11.5%;
  position: fixed;
  overflow: scroll;
  overflow-y: scroll;
  display: block;
  background-color: $nav_background;
}

div.rightContent {
  width: 88.5%;
  margin-left: 11.5%;
  background-color: $background;
}
