@import "../styles/_mixins";
@import "../styles/_variables";

div.leftNav {
  display: none;
  @include for-tablet-portrait-up {
    width: 11.5%;
    position: fixed;
    overflow: scroll;
    overflow-y: scroll;
    display: block;
    background-color: $nav_background;
  }
}

div.mobileNav {
  overflow: scroll;
  overflow-y: scroll;
  display: block;
  background-color: $nav_background;
  @include for-tablet-portrait-up {
    display: none;
  }
}

div.rightContent {
  width: 100%;
  @include for-tablet-portrait-up {
    width: 88.5%;
    margin-left: 11.5%;
    background-color: $background;
  }
}
